.navbar {
    background: #99D3DF;
    margin: 0;
    font-family: 'Oswald';
    font-size: 18px;
    padding: 20px;
    color: #E9E9E9;
}

.navbar .navbar-brand {
    font-size: 25px;
}

.navbar .navbar-text {
    line-height: 20px;
}

.navbar .btn {
    padding: 15px;
}

.content {
    background-color: #E9E9E9;
    margin: 0;
    width: 100%;
    font-family: 'Oswald';
}

a {
    color: #88BBD6;
}

#nav-tabs .tab-pane {
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px;
}

#id_skills, #id_desired_skills {
    padding-left: 0;
}

#id_skills li, #id_desired_skills li {
    list-style: none;
    float: left;
    width: 33%;
}

#id_skills li label, #id_desired_skills li label {
    float: left;
    line-height: 20px;
    height: 20px;
}

#id_skills li input, #id_desired_skills li input{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
