{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="row">
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>{{request.user.applications.all | length}}</h1>
                <h5>Applications</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>{{request.user.projects.all | length}}</h1>
                <h5>Projects</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>{{request.user.work_history.all | length}}</h1>
                <h5>Previous Jobs</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}
