{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="row">
    <div class="col-md-4">
        <a href="{% url 'resume_info' %}" class="btn btn-primary btn-block btn-massive">
            <i class="fa fa-address-card-o"></i>
            <p>Resume Info</p>
            <small>(View and edit your resume)</small>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'list_applications' %}" class="btn btn-primary btn-block btn-massive">
            <i class="fa fa-send"></i>
            <p>Applications</p>
            <small>(Manage your generated resumes)</small>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'edit_user_profile' id %}" class="btn btn-primary btn-block btn-massive">
            <i class="fa fa-user-circle-o"></i>
            <p>Profile</p>
            <small>(Change your profile settings)</small>
        </a>
    </div>
</div>

{% endblock %}
