{% extends "base_website.html" %} {% load staticfiles %} {% block content %}

<div>
    <div class="jumbotron text-center landing">
        <div class="container">
            <h1>Developer Resumes Are Different.</h1>
            <p>DevResume helps developers build the perfect resume for every job application.</p>
            <br />
            <a type="button" class="btn btn-lg btn-primary" href="{% url 'social:begin' 'github' %}"></span> Login with <i class="fa fa-github"></i></a>
        </div>
    </div>

    <div class="container" id="about-us">

        <div class="row">
            <div class="col-md-4 text-center">
                <h1><i class="fa fa-line-chart big-icon text-primary"></i></h1>
                <h4>Automatic Optimization</h4>
                <br />
                <p>Automatically optimize your resume for each job application. Just tell us which skills you want to highlight, and we'll generate a resume that shows off your prowess.</p>
            </div>
            <div class="col-md-4 text-center">
                <h1><i class="fa fa-github-square big-icon text-primary"></i></h1>
                <h4>Show Off Your Projects</h4>
                <br />
                <p>Side projects and open-source contributions are great ways to show off your skills. We'll put them front and center on your resume for future employers to see.</p>
            </div>
            <div class="col-md-4 text-center">
                <h1><i class="fa fa-css3 big-icon text-primary"></i></h1>
                <h4>Style with CSS</h4>
                <br />
                <p>Choose from one of our premade themes or create your own with CSS. Then export to PDF or email a live link to employers.</p>
            </div>
        </div>
    </div>

    <br /><br />
</div>
{% endblock %}
