{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div>
    <div class="jumbotron text-center landing">
        <div class="container">
            <h1>Welcome to DevResume!</h1>
            <p>The perfect resume for every situation</p>
            <br />
            <a type="button" class="btn btn-lg btn-default" href="#about-us"><span class="glyphicon glyphicon-flash"></span> What We Do</a>
            <a type="button" class="btn btn-lg btn-default" href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Login</a>
        </div>
    </div>

    <div class="container" id="about-us">

        <h2 class="text-center">The Inspiration</h2>
        <p class="summary">
            As young developers in co-op, we generally submit our resume to a LOT of different companies. As everyone knows, it's important to optimize your resume for the position you are applying to. But how do we do that? By hand, using Word or Google Docs (or maybe LATEX if you're a keener). When you're trying to send out 20 or more applications to different companies, that's a lot of work! As chronically lazy developers, we decided to automate the process.</p>


        <h2 class="text-center">What We Do</h2>
        <p class="summary">
            We have created a tool that automatically optimizes your resume for each job you apply to. You input your resume info (job history, skills, education, github info), and tag each of your previous jobs and github projects with the set of skills that you
            learned in that role. Then, just input the skills that the company you are applying to is looking for, and ResOptim does the rest! It even hosts your resume for you, so you have a convinient link to send to future employers.
        </p>
        <br />
    </div>

    <br /><br />
</div>
{% endblock %}
