<div class="panel panel-default">
    {% if education %}
         <table class="table">
             <tr>
                 <th>Institution</th>
                 <th>Dates</th>
                 <th>Major</th>
                 <th>Actions</th>
             </tr>
             {% for ed in education %}
             <tr>

                 <td>{{ed.institution}}</td>
                 <td>{{ed.startDate}} - {{ed.endDate}}</td>
                 <td>{{ed.area}}</td>
                 <td class="actions">
                     <a class="text-primary" href="{% url 'update_education_entry' ed.id %}">
                         <i class="fa fa-pencil"></i>
                     </a>
                     <a class="text-danger" href="{% url 'delete_education_entry' ed.id %}">
                         <i class="fa fa-trash"></i>
                     </a>
                 </td>
             </tr>
             {% endfor %}
        </table>
    {% else %}
        <div class="panel-body">
            <p class="text-center">
                No education history yet. Add your education history to get started!</p>
            </p>
        </div>
    {% endif %}
</div>
<div class="row text-center">
    <a class="text-center btn btn-primary" href="{% url 'create_education_entry' %}"><i class="fa fa-plus"></i> Add Education History</a>
</div>
