{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="row">
    <div class="col-md-4">
        <a href="{% url 'list_work_history' %}" class="btn btn-primary btn-block btn-massive">
            <i class="fa fa-history"></i>
            <p>Work History</p>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'list_projects' %}" class="btn btn-primary btn-block btn-massive">
            <i class="fa fa-cubes"></i>
            <p>Projects</p>
        </a>
    </div>
    <!--<div class="col-md-6">-->
        <!--<a class="btn btn-primary btn-block btn-massive">-->
            <!--<i class="fa fa-tasks"></i>-->
            <!--<p>Skills</p>-->
        <!--</a>-->
    <!--</div>-->
    <div class="col-md-4">
        <a href="{% url 'list_education' %}" class="btn btn-primary btn-block btn-massive">
            <i class="fa fa-graduation-cap"></i>
            <p>Education</p>
        </a>
    </div>
</div>

{% endblock %}
