{% extends 'resume-base.html' %}

{% block content %}

<div class="container">

    <div class="row">

        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <ul class="info">
            <li>Address: {{user.location}}</li>
            <li>Email: {{user.email}}</li>
            <li>Phone: {{user.phone}}</li>
        </ul> 
        <h2>Work Experience</h2>

        {% for j in work_history %}
            {% with job=j.work %}
                <h3>{{job.company}}</h3>
                <h4>{{job.startDate}} to {{job.endDate}}</h4>
                {{job.summary | linebreaks }}
                <p>Stack: {% for skill in job.skills.all %}
                    {{skill.name}}
                {% endfor %}</p>
            {% endwith %}
        {% endfor %}

        <h2>Applied Projects</h2>

        {% for p in projects %}
            {% with project=p.project %}
                <h3>{{project.name}}</h3>
                <p>{{project.description}}</p>
                <p>Stack: {% for skill in project.skills.all %}
                    {{skill.name}}
                {% endfor %}</p>
            <p>
                <a href="{{project.gh_repo}}">Github</a> 
                {% if project.gh_repo != project.website %}
                    <a href="{{project.website}}">Website</a>
                {% endif %}
            </p>
            {% endwith %}
        {% endfor %}

        <h2>Education</h2>

        {%for s in education %}
            {% with school=s.education %}
                <h4>{{school.institution}}</h4>
                <p> {{school.area}} - {{school.studyType}}</p>
                <p> {{school.startDate}} - {{school.endDate}}</p>
                <p> {{school.gpa}}</p>
            {% endwith %}
        {% endfor %}
    
    </div>

</div>

{% endblock content %}
