{% extends "base.html" %} {% load staticfiles %} {% block content %}

<script>
    $(document).ready(function() { $('#nav-tabs a[role="tab"]').click(function(e) { e.preventDefault(); console.log("hello");
            $(this).tab('show');
        })

        $('#profile .row').each(function() {
            var row_max = 0;
            console.log('here')
            $('.panel-default').each(function() {
                if($(this).height() > row_max) {
                    row_max = $(this).height();
                }
            });
            console.log($('.panel-default'));
            $('.panel-default').height(row_max);
            row_max = 0;
        });
    })
</script>

<div class="jumbotron text-center">
    <div class="container">
        <!--<a href="/" class="lang-logo">-->
        <!--<img src="{% static 'lang-logo.png'%}">-->
        <!--</a>-->
        <h1>Dashboard</h1>
        <br />
    </div>
</div>

<div class="container">
    <div id="nav-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#applications" aria-controls="applications" role="tab" data-toggle="tab">Applications</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content text-left">

            <div role="tabpanel" class="tab-pane active" id="profile">

                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Profile</h3>
                            </div>
                            <div class="panel-body">
                                <p>Bio - {{user.bio}}</p>
                                <p>Location - {{user.location}}</p>
                                <p>Phone - {{user.phone}}</p>
                                <p>Website - <a href="{{user.website}}">{{user.website}}</a></p>
                                <br /><br />
                                <a class="btn btn-primary" data-toggle="modal" data-target="#user_profile_edit_modal">Edit Profile</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Work History</h3>
                            </div>
                            <div class="panel-body">
                                {% for work in work_entries %}
                                <p>{{ work.company }} - {{ work.position }}</p>
                                <div class="text-muted">{{ work.summary | linebreaks }}</div>
                                <a class="btn btn-primary" href="{% url 'update_work_entry' work.id %}">Update</a>
                                <a class="btn btn-danger" href="{% url 'delete_work_entry' work.id %}">Delete</a> {% endfor %}
                                <br>
                                <br>
                                <a class="btn btn-primary" href="{% url 'create_work_entry' %}">Add New Work Entry</a> </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Education</h3>
                            </div>
                            <div class="panel-body">
                                {%for school in education_entries %}
                                <p>{{school.institution}}</p>
                                <p> {{school.area}} - {{school.studyType}}</p>
                                <p> {{school.startDate}} - {{school.endDate}}</p>
                                <p> {{school.gpa}}</p>
                                <a class="btn btn-primary" href="{% url 'update_education_entry' school.id %}">Update</a>
                                <a class="btn btn-danger" href="{% url 'delete_education_entry' school.id %}">Delete</a> {% endfor %}
                                <br>
                                <br>
                                <a class="btn btn-primary" href="{% url 'create_education_entry' %}">Add New Education Entry</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Social Profiles</h3>
                            </div>
                            <div class="panel-body">
                                {%for profile in social_profiles %}
                                <p> <a href="{{profile.url}}">{{profile.username}} on {{profile.network}}</a> </p>
                                <a class="btn btn-primary" href="{% url 'update_social_profile' profile.id %}">Update</a>
                                <a class="btn btn-danger" href="{% url 'delete_social_profile' profile.id %}">Delete</a> {% endfor %}
                                <br>
                                <br>
                                <a class="btn btn-primary" href="{% url 'create_social_profile' %}">Add New Social Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Projects</h3>
                            </div>
                            <div class="panel-body">
                                {% for project in project_entries %}
                                <p>Name: {{project.name}}</p>
                                <p>Repo: <a href="{{project.gh_repo}}">Github</a></p>
                                <p>Website: <a href="{{project.website}}">{{ project.website }}</a></p>
                                <p>Description: {{ project.description }}</p>
                                <p>Stars: {{ project.stars }}</p>
                                <a class="btn btn-primary" href="{% url 'update_project_entry' project.id %}">Update</a>
                                <a class="btn btn-danger" href="{% url 'delete_project_entry' project.id %}">Delete</a> {% endfor %}
                                <br>
                                <br>
                                <a class="btn btn-primary" href="{% url 'create_project_entry' %}">Add New Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Skills</h3>
                            </div>

                            <ul class="list-group">
                                {%for skill in skill_entries %}
                                <li class="list-group-item">{{skill.name}}
                                <!--<a class="btn btn-primary" href="{% url 'update_skill_entry' skill.id %}">Update</a>-->
                                <a class="text-danger pull-right" href="{% url 'delete_skill_entry' skill.id %}">Delete</a>
                                </li>
                                {% endfor %}
                                <li class="list-group-item">
                                <a class="btn btn-primary" href="{% url 'create_skill_entry' %}">Add new skill</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="applications">

                <ul class="list-group">
                    {% for application in application_entries %}
                        <li class="list-group-item">
                            {{application.company_name}}
                            <a class="text-primary" style="padding-left: 10px;" href="{% url 'view_application_resume' application.id %}">View Resume</a>
                            <a class="text-danger pull-right" style="padding-left: 10px;" href="{% url 'delete_application_entry' application.id %}">Delete</a>
                            <a class="text-primary pull-right" href="{% url 'update_application_entry' application.id %}">Update</a>
                        </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <a class="btn btn-primary" href="{% url 'create_application_entry' %}">Add New Application</a>
                    </li>
                </ul>

            </div>
            <div role="tabpanel" class="tab-pane" id="settings">

            </div>

        </div>
    </div>
</div>
<br /><br />
<div class="alert alert-info text-center " role="alert ">
    Footer .... filler text here I'll' figure out what to put later
</div>
</div>
{% endblock %}
