{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="{% static 'lang-logo.png'%}">
        </a>
        <h1>Welcome to ResOptim</h1>
        <p>The perfect resume everytime</p>
        <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Get Started</a>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Login </a>
    </div>
</div>

<div class="alert alert-info text-center" role="alert">
    Footer .... filler text here I'll' figure out what to put later
</div>
</div>
{% endblock %}