{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <!--<a href="/" class="lang-logo">-->
            <!--<img src="{% static 'lang-logo.png'%}">-->
        <!--</a>-->
        <h1>Welcome to ResOptim</h1>
        <p>The perfect resume everytime</p>
        <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Get Started</a>
        <a type="button" class="btn btn-lg btn-primary" href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Login</a>
    </div>
</div>

<div class="container">
    <h2>What We Do</h2>
    <p>
        Curious that we spend more time congratulating people who have succeeded than encouraging people who have not. Houston, Tranquillity Base here. The Eagle has landed. As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man. NASA is not about the ‘Adventure of Human Space Exploration’…We won’t be doing it just to get out there in space – we’ll be doing it because the things we learn out there will be making life better for a lot of people who won’t be able to go.
    </p>
    <br />

    <h2>Why We Do It</h2>
    <p>
        Curious that we spend more time congratulating people who have succeeded than encouraging people who have not. Houston, Tranquillity Base here. The Eagle has landed. As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man. NASA is not about the ‘Adventure of Human Space Exploration’…We won’t be doing it just to get out there in space – we’ll be doing it because the things we learn out there will be making life better for a lot of people who won’t be able to go.
    </p>
</div>

<br /><br />
<div class="alert alert-info text-center" role="alert">
    Footer .... filler text here I'll' figure out what to put later
</div>
</div>
{% endblock %}
