@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');



body {
    background-color: #002b36;
}

/*===============================================
 * Typography 
 *=============================================*/

/* Extra small devices (phones, less than 768px) */

h1, h2, h3, h4, h5, h6, p, a, li, label {
    font-family: "Roboto Mono";
    color: #93a1a1;
}

.btn-primary {
    background-color: #2aa198;
    transition: all 0.3s ease;
    border: none;
}

.btn-primary:hover {
    background-color: #6c71c4;
    border: none;
}

.btn-massive {
    background-color: #2aa198;
    border: none;
    padding: 40px 0;
    margin-bottom: 30px;
}
.btn-massive:hover {
    background-color: #6c71c4;
    cursor: pointer;
}
.btn-massive i {
    display: block;
    margin-bottom: 20px;
    font-size: 60px;
    color: #eee8d5;
}
.btn-massive p {
    font-family: "Roboto Mono";
    margin-bottom: 0;
    font-size: 20px;
    color: #eee8d5;
}

.text-primary {
    color: #268bd2;
}

.text-warning {
    color: #cb4b16;
}

.text-danger {
    color: #dc322f;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active {
    background-color: #6c71c4;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*===============================================
 * Header 
 *=============================================*/

/* Extra small devices (phones, less than 768px) */

nav {
    background-color: transparent;
    font-family: "Roboto Mono";
    padding-top: 15px;
}

nav .navbar-brand {
    margin-left: 0px !important;
    font-size: 25px;
    line-height: 20px;
}

nav .navbar-toggle {
    padding-right: 15px;
    margin-right: 0;
}
nav .navbar-toggle .icon-bar {
    background-color: #93a1a1;
}

nav a, nav p {
    color: #93a1a1 !important;
    transition: all 0.3s ease;
}

nav .navbar-text {
    margin-right: 0;
    line-height: 20px;
    font-size: 16px;
}

nav a:hover {
    color: #6c71c4 !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*===============================================
 * Content 
 *=============================================*/

/* Extra small devices (phones, less than 768px) */

.jumbotron {
    background-color: transparent;
    color: #93a1a1;
}

.big-icon {
    font-size: 80px;
    margin-bottom: 20px;
}

.tab-pane {
    background-color: #93a1a1;
    padding: 15px;
}

.panel {
    background-color: transparent;
}

.panel .table {
    color: #93a1a1;
    font-family: "Roboto Mono", monospace;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*===============================================
 * Footer 
 *=============================================*/

/* Extra small devices (phones, less than 768px) */

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*===============================================
 * Media Queries 
 *=============================================*/

/* Extra small devices (phones, less than 768px) */

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
