{% if not 'add' in request.path %}
    {% if not request.user.projects.all %}
    <div class="alert alert-success" role="alert">
        Welcome to devresume! Get started by importing your github projects 
        <a class="btn btn-primary" href="{% url 'import_github_projects' %}" style="margin-left: 10px;">Import Now</a>
    </div>
    {% elif not request.user.work_history.all %}
    <div class="alert alert-success" role="alert">
        Looks like you haven't added any work history. Add a previous job now!
        <a class="btn btn-primary" href="{% url 'add_work_history' %}" style="margin-left: 10px;">Add a Job</a>
    </div>
    {% elif not request.user.education.all %}
    <div class="alert alert-success" role="alert">
        Show off your fancy credentials by adding your education history
        <a class="btn btn-primary" href="{% url 'create_education_entry' %}" style="margin-left: 10px;">Add Education</a>
    </div>
    {% elif not request.user.applications.all %}
    <div class="alert alert-success" role="alert">
        You're all set! Start an application to create the perfect resume. 
        <a class="btn btn-primary" href="{% url 'create_application_entry' %}" style="margin-left: 10px;">Start Application</a>
    </div>
    {% endif %}
{% endif %}
